In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('dat_may2016.csv')
print(df.shape)
print(df.dtypes)

(24501, 50)
SOURCE                          object
FILEYR                           int64
CR_REQUIRED                     object
INITIAL_CATEGORY_CODE           object
INITIAL_CATEGORY                object
CURRENT_CATEGORY_CODE           object
CURRENT_CATEGORY                object
CURRENT_STATUS                  object
Complaint_Number                 int64
Beat                           float64
Street                          object
Address                        float64
LOCATION_CODE                   object
Incident_Time_Start             object
Incident_Time_End               object
COMPLAINT_DATE                  object
CLOSEDATIPRA_DATETIME           object
IPRA_Investigator_LastName      object
IPRA_Investigator_FirstName     object
IPRA_Assign_Date_Time           object
IPRA_Investigate_Begin_Date    float64
IPRA_Investigate_End_Date       object
IPRA_Investigator_Type          object
Report_Status                   object
FINDING_CODE                    object
FINDING_ID                     float64
PENALTY_CODE                    object
NO_OF_DAYS                     float64
Penalty_Status                  object
Accused_FName                   object
Accused_LName                   object
Accused_Star_No                float64
Accused_Assignment             float64
Accused_Detail                 float64
Accused_Appointment_Date       float64
Accused_Position                object
IAD_OPS                         object
CONVERTED_REC_I                 object
Invovled_Party_Description      object
Invovled_Party_Type             object
Invovled_Party_LName            object
Invovled_Party_FName            object
Invovled_Party_Assignment      float64
Invovled_Party_Detail          float64
Invovled_Party_Position         object
Invovled_Party_Age             float64
Invovled_Party_Sex              object
Invovled_Party_Race             object
POLICE_SHOOTING_NO              object
POLICE_SHOOTING                 object
dtype: object

/Users/Jay/miniconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (24,26,28,29,30,35) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [14]:
df.ix[1]

SOURCE                                                      2016-MAY
FILEYR                                                          2016
CR_REQUIRED                                                       No
INITIAL_CATEGORY_CODE                                            NaN
INITIAL_CATEGORY                                                 NaN
CURRENT_CATEGORY_CODE                                            18A
CURRENT_CATEGORY               FIREARM DISCHARGE WITH HITS / ON DUTY
CURRENT_STATUS                                 PENDING INVESTIGATION
Complaint_Number                                             1079080
Beat                                                             735
Street                                                    PAULINA ST
Address                                                         7305
LOCATION_CODE                                              RESIDENCE
Incident_Time_Start                                        1/31/2016
Incident_Time_End                                          1/31/2016
COMPLAINT_DATE                                             1/31/2016
CLOSEDATIPRA_DATETIME                                            NaN
IPRA_Investigator_LastName                                      HUNT
IPRA_Investigator_FirstName                                   JOSHUA
IPRA_Assign_Date_Time                                       2/1/2016
IPRA_Investigate_Begin_Date                                      NaN
IPRA_Investigate_End_Date                                  4/19/2016
IPRA_Investigator_Type                                             S
Report_Status                                                Pending
FINDING_CODE                                                     NaN
FINDING_ID                                                       NaN
PENALTY_CODE                                                     NaN
NO_OF_DAYS                                                       NaN
Penalty_Status                                                   NaN
Accused_FName                                                    NaN
Accused_LName                                                    NaN
Accused_Star_No                                                  NaN
Accused_Assignment                                               NaN
Accused_Detail                                                   NaN
Accused_Appointment_Date                                         NaN
Accused_Position                                                 NaN
IAD_OPS                                                            O
CONVERTED_REC_I                                                   No
Invovled_Party_Description                                       NaN
Invovled_Party_Type                                           Inmate
Invovled_Party_LName                                           GOMEZ
Invovled_Party_FName                                         ARNULFO
Invovled_Party_Assignment                                          7
Invovled_Party_Detail                                            NaN
Invovled_Party_Position                               POLICE OFFICER
Invovled_Party_Age                                               NaN
Invovled_Party_Sex                                              MALE
Invovled_Party_Race                                   WHITE HISPANIC
POLICE_SHOOTING_NO                                             16-01
POLICE_SHOOTING                                                  Yes
Accused-FullName                                             nan nan
Name: 1, dtype: object

In [13]:
df.head()

,SOURCE,FILEYR,CR_REQUIRED,INITIAL_CATEGORY_CODE,INITIAL_CATEGORY,CURRENT_CATEGORY_CODE,CURRENT_CATEGORY,CURRENT_STATUS,Complaint_Number,Beat,...,Invovled_Party_FName,Invovled_Party_Assignment,Invovled_Party_Detail,Invovled_Party_Position,Invovled_Party_Age,Invovled_Party_Sex,Invovled_Party_Race,POLICE_SHOOTING_NO,POLICE_SHOOTING,Accused-FullName
0,2016-MAY,2016,No,NaN,NaN,18A,FIREARM DISCHARGE WITH HITS / ON DUTY,PENDING INVESTIGATION,1079080,735.0,...,DANA,140.0,NaN,DEP CHIEF,NaN,MALE,BLACK,16-01,Yes,nan nan
1,2016-MAY,2016,No,NaN,NaN,18A,FIREARM DISCHARGE WITH HITS / ON DUTY,PENDING INVESTIGATION,1079080,735.0,...,ARNULFO,7.0,NaN,POLICE OFFICER,NaN,MALE,WHITE HISPANIC,16-01,Yes,nan nan
2,2016-MAY,2016,No,NaN,NaN,18A,FIREARM DISCHARGE WITH HITS / ON DUTY,PENDING INVESTIGATION,1079080,735.0,...,DAVID,7.0,NaN,POLICE OFFICER,NaN,MALE,WHITE HISPANIC,16-01,Yes,nan nan
3,2016-MAY,2016,No,NaN,NaN,18A,FIREARM DISCHARGE WITH HITS / ON DUTY,PENDING INVESTIGATION,1079080,735.0,...,CHARLES,NaN,NaN,UNKNOWN,29.0,MALE,BLACK,16-01,Yes,nan nan
4,2016-MAY,2016,No,NaN,NaN,18A,FIREARM DISCHARGE WITH HITS / ON DUTY,PENDING INVESTIGATION,1079080,735.0,...,CHARLES,NaN,NaN,UNKNOWN,30.0,MALE,BLACK,16-01,Yes,nan nan

In [16]:
# Make new dataframe with CRID and full-name of accused officer. 
# Drop rows where both first and last names are missing.
df['Accused-FullName'] = df.apply(lambda x: str(x['Accused_FName']).strip() + ' ' + str(x['Accused_LName']).strip(),axis=1)
df_fullname = df[df['Accused-FullName'] != 'nan nan'][['Complaint_Number','Accused-FullName']]
df_fullname.head(10)

     Complaint_Number  Accused-FullName
589           1077770  CATHERINE DOUBEK
590           1077770  CATHERINE DOUBEK
591           1077770  CATHERINE DOUBEK
592           1077770  CATHERINE DOUBEK
593           1077770  CATHERINE DOUBEK
594           1077770  CATHERINE DOUBEK
595           1073831       DANIEL GOON
596           1073831       DANIEL GOON
597           1073831       DANIEL GOON
598           1073831       DANIEL GOON

In [17]:
# Get only (unique CRID, Name) pairs
df_fullname = df_fullname.drop_duplicates()
df_fullname.head(10)

      Complaint_Number  Accused-FullName
589            1077770  CATHERINE DOUBEK
595            1073831       DANIEL GOON
715            1073395   RAPHAEL MITCHEM
861            1073693     HARRY MATHEOS
870            1073693       JAIME GAETA
1581           1074934     ROTHIEL DAVIS
1648           1070029  ROBERT ONTIVEROS
3264           1069925    NILLION RANKIN
3894           1073132    DARRYL EDWARDS
4278           1072071        MARCO LEON

In [25]:
counts_by_officer = df_fullname.groupby('Accused-FullName').size()

print(counts_by_officer.shape)
print()

counts_by_officer.sort_values(ascending=False).head(10)

(30,)

Accused-FullName
VIOLET REY            1
TERRENCE PRATSCHER    1
ANTHONY ROSEN         1
CATHERINE DOUBEK      1
CHARLES MEADOWS SR    1
DANIEL CASTILLO       1
DANIEL GOON           1
DANIEL LOPEZ          1
DANIEL SMITH          1
DANIEL VAZQUEZ        1
dtype: int64

In [26]:
counts_by_officer.describe()

count    30.0
mean      1.0
std       0.0
min       1.0
25%       1.0
50%       1.0
75%       1.0
max       1.0
dtype: float64

In [28]:
df_fullname['Accused-FullName'].unique().size

30

In [29]:
df_fullname['Complaint_Number'].unique().size

21