In [1]:
import pandas as pd

In [2]:
# Intialize dictionary to store CRIDs from each dataset
CRID_unique = {}

# May FOIA

In [3]:
# Read FOIA_May dataset and print sheetnames
may_xls = pd.ExcelFile('Raw/raw dump May2016/IPRA Shootings Data.xls')
may_xls.sheet_names

['qry_II_217_Data163_2016',
 'qry_II_217_Data163_2015',
 'qry_II_217_Data163_2014',
 'qry_II_217_Data163_2013',
 'qry_II_217_2012_Incid',
 'qry_II_217_2012_Parties',
 'qry_II_217_2011_Incid',
 'qry_II_217_2011_Parties',
 'qry_II_217_2010_Incid',
 'qry_II_217_2010_Parties',
 'qry_II_217_2009_Incid',
 'qry_II_217_2009_Parties',
 'qry_II_217_200807_Incid',
 'qry_II_217_200807_Parties',
 'Sheet3']

In [4]:
# Year and corresponding sheetname
may_sheets = {
    '2016' : 'qry_II_217_Data163_2016',
    '2015' : 'qry_II_217_Data163_2015',
    '2014' : 'qry_II_217_Data163_2014',
    '2013' : 'qry_II_217_Data163_2013',
    '2012' : 'qry_II_217_2012_Incid',
    '2011' : 'qry_II_217_2011_Incid',
    '2010' : 'qry_II_217_2010_Incid',
    '2009' : 'qry_II_217_2009_Incid',
    '2008' : 'qry_II_217_200807_Incid',
    }

In [5]:
# Extract unique CRIDs for each year and put in master dict
CRID_unique['May FOIA'] = {}
for year, sheetname in may_sheets.items():
    CRID_unique['May FOIA'][year] = [
        str(int(x)) for x in 
        may_xls.parse(sheetname)['Complaint_Number'].dropna().unique().tolist()
        ]

# April FOIA

In [6]:
april_sheets = {
    '2016' : 'All complaints during 2016YTD.xls',
    '2015' : 'All complaints during 2015.xls',
    '2014' : 'All complaints during 2014.xls',
    '2013' : 'All complaints during 2013.xls',
    '2012' : 'All complaints during 2012.xls'
}

In [7]:
pd.read_excel('Raw/raw dump April2016/All complaints during 2016YTD.xls').head()

,Complaint_Number,Beat,Street,Address,LOCATION_CODE,Incident_Time_Start,Incident_Time_End,Notification_Date,IPRA_Closed_Date,IPRA_Investigator_LastName,...,Discipline_Code,Recommended_Number_Of_Days,Involved_Officer_Lname,Involved_Officer_FName,Involved_Officer_Unit,Involved_Officer_Detail,Involved_Officer_Position,Involved_Officer_Age,Involved_Officer_Sex,Involved_Officer_Race
0,1078693,2531,WALLER AVE,1440,STREET,2016-01-01 02:33:00,2016-01-01 02:33:00,2016-01-01 03:10:18,2016-01-08 18:08:00,NaN,...,NaN,NaN,GREMO,MIKE,16,NaN,POLICE OFFICER,NaN,MALE,WHITE
1,1078693,2531,WALLER AVE,1440,STREET,2016-01-01 02:33:00,2016-01-01 02:33:00,2016-01-01 03:10:18,2016-01-08 18:08:00,NaN,...,NaN,NaN,UDING,BRYON,16,NaN,SERGEANT OF POLICE,NaN,MALE,WHITE
2,1078693,2531,WALLER AVE,1440,STREET,2016-01-01 02:33:00,2016-01-01 02:33:00,2016-01-01 03:10:18,2016-01-08 18:08:00,NaN,...,NaN,NaN,VERONICA,DENNIS,NaN,NaN,UNKNOWN,64,MALE,WHITE
3,1078694,1014,18TH ST,3654,STREET,2016-01-01 00:30:00,2016-01-01 00:30:00,2016-01-01 03:22:06,2016-03-31 20:57:00,NaN,...,NaN,NaN,BUFORD,DONOVAN,NaN,NaN,UNKNOWN,25,MALE,BLACK
4,1078694,1014,18TH ST,3654,STREET,2016-01-01 00:30:00,2016-01-01 00:30:00,2016-01-01 03:22:06,2016-03-31 20:57:00,NaN,...,NaN,NaN,PEABODY,ROBERT,10,NaN,LIEUTENANT OF POLICE,NaN,MALE,WHITE

In [8]:
CRID_unique['April FOIA'] = {}
for year, filename in april_sheets.items():
    CRID_unique['April FOIA'][year] = [
        str(int(x)) for x in 
        pd.read_excel('Raw/raw dump April2016/' + filename)['Complaint_Number'].dropna().unique().tolist()
        ]

# February FOIA

In [9]:
feb_sheets = {
    '18A' : '18A - 1 - Incident(1).xls',
    '18B' : '18b - 1 - Incidents(1).xls',
    '20A' : '20A - 1 - Incident(1).xls'
}

In [10]:
pd.read_excel('Raw/raw dump Feburary2016/18A - 1 - Incident(1).xls',skiprows=range(6)).head()

,Log No,Assignment,Initial Category,Assigned Team,Team Assigned Date,Investigator Assigned,Inv Assigned Date,Supervisor Assigned,Closed at IPRA
0,1077428,IPRA,18A,GENERAL FIELD 9,20151005 12:08,"ABBRUZZESE, WILLIAM",2015-10-07,"HUNT, JOSHUA",NaN
1,NaN,NaN,NaN,NaN,2015-10-05 12:08:00,NaN,2015-10-07,NaN,NaN
2,1077328,IPRA,18A,GENERAL FIELD 9,20151005 12:02,"WHITE, LAKENYA",2015-10-07,"HUNT, JOSHUA",NaN
3,NaN,NaN,NaN,NaN,2015-10-05 12:02:00,NaN,2015-10-07,NaN,NaN
4,1077146,IPRA,18A,GENERAL FIELD 9,20150915 13:23,"ABBRUZZESE, WILLIAM",2015-09-17,"HUNT, JOSHUA",NaN

In [11]:
CRID_unique['February FOIA'] = {'2006-2015' : []}
for cat, filename in feb_sheets.items():
    CRID_unique['February FOIA']['2006-2015'].extend([
            str(int(x)) for x in
            pd.read_excel('Raw/raw dump Feburary2016/' + filename,skiprows=range(6))['Log No'].dropna().unique().tolist()
        ])

In [12]:
CRID_unique['February FOIA']

{'2006-2015': ['1076963',
  '1076296',
  '1072859',
  '1067730',
  '1063273',
  '1061146',
  '1060007',
  '1053106',
  '1045186',
  '1040868',
  '1012612',
  '1009346',
  '1005597',
  '1003119',
  '1000133',
  '1077428',
  '1077328',
  '1077146',
  '1076922',
  '1076815',
  '1076797',
  '1076425',
  '1076367',
  '1076261',
  '1076216',
  '1076204',
  '1076081',
  '1076072',
  '1075770',
  '1074736',
  '1074534',
  '1073787',
  '1073693',
  '1073105',
  '1072855',
  '1072342',
  '1072297',
  '1072209',
  '1071896',
  '1071608',
  '1071524',
  '1071168',
  '1070445',
  '1070168',
  '1069981',
  '1069721',
  '1069651',
  '1068271',
  '1068101',
  '1068046',
  '1067572',
  '1066725',
  '1065714',
  '1065582',
  '1063442',
  '1063127',
  '1061883',
  '1060762',
  '1058573',
  '1058420',
  '1058279',
  '1058077',
  '1057079',
  '1056803',
  '1052816',
  '1052578',
  '1050919',
  '1042532',
  '1035057',
  '1034859',
  '1032871',
  '1027884',
  '1022081',
  '1021311',
  '1021184',
  '1017636',
  '1017574',
  '1015185',
  '1015086',
  '1009675',
  '1008672',
  '1008617',
  '1007605',
  '1006745',
  '1006443',
  '1005889',
  '1003767',
  '1003367',
  '1002897',
  '1001874',
  '1001699',
  '1001651',
  '1000905',
  '1000343',
  '1000341',
  '1078099',
  '1077848',
  '1077467',
  '1077435',
  '1077419',
  '1077396',
  '1077348',
  '1077162',
  '1077087',
  '1077004',
  '1076544',
  '1076349',
  '1076191',
  '1075524',
  '1075238',
  '1074488',
  '1074468',
  '1074390',
  '1073710',
  '1073391',
  '1073176',
  '1073091',
  '1072911',
  '1072638',
  '1072574',
  '1072331',
  '1072056',
  '1071894',
  '1071798',
  '1071692',
  '1071510',
  '1071413',
  '1071348',
  '1070951',
  '1070840',
  '1070748',
  '1070443',
  '1070253',
  '1070187',
  '1070019',
  '1069653',
  '1069560',
  '1069414',
  '1069396',
  '1069394',
  '1069393',
  '1069251',
  '1069194',
  '1068139',
  '1068025',
  '1068021',
  '1067333',
  '1067268',
  '1066554',
  '1066231',
  '1066144',
  '1065368',
  '1065208',
  '1065045',
  '1064735',
  '1064307',
  '1063326',
  '1063201',
  '1062955',
  '1062843',
  '1062791',
  '1062388',
  '1062177',
  '1061921',
  '1060840',
  '1060612',
  '1060585',
  '1060463',
  '1060132',
  '1059768',
  '1059635',
  '1059475',
  '1059304',
  '1059236',
  '1059193',
  '1059189',
  '1059167',
  '1058942',
  '1058492',
  '1058061',
  '1057998',
  '1057747',
  '1057610',
  '1057609',
  '1057605',
  '1057383',
  '1057084',
  '1056966',
  '1056789',
  '1056626',
  '1056491',
  '1056390',
  '1056157',
  '1055931',
  '1055687',
  '1055465',
  '1055434',
  '1055194',
  '1054961',
  '1054783',
  '1054596',
  '1054449',
  '1054264',
  '1054251',
  '1053897',
  '1053766',
  '1053743',
  '1053311',
  '1053070',
  '1053065',
  '1052862',
  '1052686',
  '1052549',
  '1052502',
  '1052400',
  '1052287',
  '1052124',
  '1052123',
  '1051532',
  '1050899',
  '1050853',
  '1050700',
  '1050643',
  '1050601',
  '1050543',
  '1050542',
  '1050456',
  '1050432',
  '1050343',
  '1049984',
  '1049648',
  '1049459',
  '1049198',
  '1048384',
  '1048263',
  '1048154',
  '1047415',
  '1047360',
  '1047342',
  '1047326',
  '1047323',
  '1047185',
  '1047055',
  '1047012',
  '1046993',
  '1046973',
  '1046944',
  '1046906',
  '1046782',
  '1046659',
  '1046523',
  '1046359',
  '1046241',
  '1046113',
  '1046112',
  '1045612',
  '1045541',
  '1045107',
  '1044798',
  '1044629',
  '1044399',
  '1044233',
  '1044189',
  '1044054',
  '1043848',
  '1043808',
  '1043680',
  '1043407',
  '1042968',
  '1042684',
  '1042670',
  '1042161',
  '1042150',
  '1041658',
  '1041530',
  '1041448',
  '1041156',
  '1040789',
  '1040530',
  '1040500',
  '1040303',
  '1040141',
  '1039783',
  '1039742',
  '1039718',
  '1039564',
  '1038942',
  '1038165',
  '1038081',
  '1037944',
  '1037696',
  '1037491',
  '1037048',
  '1036645',
  '1036573',
  '1036478',
  '1036068',
  '1035879',
  '1035618',
  '1035581',
  '1035510',
  '1034911',
  '1034833',
  '1034831',
  '1034829',
  '1034629',
  '1033946',
  '1033838',
  '1033463',
  '1033392',
  '1033386',
  '1033323',
  '1033295',
  '1033037',
  '1032946',
  '1032578',
  '1032509',
  '1032469',
  '1032464',
  '1032418',
  '1032320',
  '1032086',
  '1032064',
  '1031817',
  '1031736',
  '1031698',
  '1031678',
  '1031529',
  '1031278',
  '1031239',
  '1031073',
  '1030856',
  '1030790',
  '1030739',
  '1030511',
  '1030507',
  '1030298',
  '1030271',
  '1030040',
  '1029584',
  '1029257',
  '1029215',
  '1028954',
  '1028603',
  '1028571',
  '1028191',
  '1028135',
  '1027916',
  '1027910',
  '1027200',
  '1026983',
  '1026826',
  '1026769',
  '1026564',
  '1026484',
  '1026464',
  '1026343',
  '1026326',
  '1025792',
  '1025463',
  '1025361',
  '1025340',
  '1024877',
  '1024818',
  '1023536',
  '1023339',
  '1023332',
  '1023288',
  '1023283',
  '1023199',
  '1022953',
  '1022755',
  '1022668',
  '1021927',
  '1020929',
  '1020710',
  '1020565',
  '1020527',
  '1020364',
  '1020165',
  '1019444',
  '1019355',
  '1019321',
  '1018544',
  '1018203',
  '1018065',
  '1017717',
  '1017365',
  '1017298',
  '1016513',
  '1016485',
  '1016003',
  '1015883',
  '1015614',
  '1015134',
  '1015008',
  '1014616',
  '1014603',
  '1014308',
  '1014254',
  '1014231',
  '1013490',
  '1013057',
  '1013017',
  '1013016']}

# June

In [13]:
june_df = pd.read_excel('2016-06-03-complaint-index.xlsx')
print(june_df.shape)
june_df.head()

(102, 14)

,COMPLAINT_NUMBER,INCIDENT_TYPE,NOTIFICATION_DATE,INCIDENT_TIME_START,SUBJECT_1,SUBJECT_2,SUBJECT_3,SUBJECT_4,DOCS_WITHHELD_NOTES,HIPAA_WITHHELD,JUVENILE_WITHHELD,VIDEO_COUNT,AUDIO_COUNT,DOCUMENT_COUNT
0,1042469,Firearm Discharge,2011-01-04,2011-01-04 21:35:00,Jermaine Henry,novalue,novalue,novalue,"Pursuant to the Illinois Juvenile Court Act, 7...",False,True,0,0,0
1,1042532,Firearm Discharge,2011-01-07,2011-01-07 01:33:00,Darius Pinex,novalue,novalue,novalue,novalue,False,False,0,5,5
2,1044336,Firearm Discharge,2011-03-29,2011-03-29 07:48:00,Thomas Leatherwood,novalue,novalue,novalue,One 911 call has been withheld pursuant to the...,True,False,0,1,4
3,1045950,Firearm Discharge,2011-06-07,2011-06-07 01:48:00,Flint Farmer,novalue,novalue,novalue,One 911 call has been withheld pursuant to the...,True,False,1,2,7
4,1049286,Incident in Police Custody,2011-10-13,2011-10-13 00:17:00,Jermeka Neil,novalue,novalue,novalue,novalue,False,False,1,1,7

In [14]:
print(june_df['INCIDENT_TIME_START'].min())
print(june_df['INCIDENT_TIME_START'].max())

2011-01-04 21:35:00
2016-05-19 21:30:00

In [15]:
CRID_unique['June dump'] = {'2011 - 2016' : [
        str(int(x)) for x in
        june_df['COMPLAINT_NUMBER'].dropna().unique().tolist()
    ]}

# Count records

In [16]:
for dataset, yeardict in CRID_unique.items():
    for year, CRID_list in yeardict.items():
        print(dataset,year,len(CRID_list))

June dump 2011 - 2016 102
May FOIA 2016 5
May FOIA 2010 38
May FOIA 2009 44
May FOIA 2012 47
May FOIA 2014 47
May FOIA 2008 57
May FOIA 2015 29
May FOIA 2011 50
May FOIA 2013 43
April FOIA 2016 330
April FOIA 2014 1663
April FOIA 2015 1392
April FOIA 2013 1913
April FOIA 2012 1877
February FOIA 2006-2015 405

In [17]:
for dataset, yeardict in CRID_unique.items():
    print(dataset,sum([len(CRID_list) for CRID_list in yeardict.values()]))

June dump 102
May FOIA 360
April FOIA 7175
February FOIA 405

In [18]:
# Save to json file
import json
with open('CRID_unique.json', 'w') as fp:
    json.dump(CRID_unique, fp,sort_keys=True,indent=4)